{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot
{% endblock %}

{% block body %}
	<section>
		{# Service Section #}
		<div class="bg-danger p-5">
			<div class="container ">
				<h2 id="service" class="text-white text-center">
					Découvrez les Services Incontournables</h2>
				<div>
					{% for service in services|slice(0,2) %}
						<div class=" mt-2 mb-2">
							<div class="card-body">
								<h3 class="card-title text-dark">{{service.title}}</h3>
								<p class="card-text">{{service.content}}</p>
								{% if app.user %}
									{% if app.user.username == 'Parrot' %}
										<div class="card-body">
											<a href="{{ path('delete-service', {'id':service.id}) }}" class="btn btn-danger">Supprimer</a>
											<a href="{{ path('edit-service', {'id':service.id}) }}" class="btn btn-warning">Modifier</a>
										</div>
									{% endif %}
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	{# Car Section #}
	<section>
		<img src="/assets/upload/CarBannerHyunday.jpg" alt="Voiture Garage V.Parrot" style="width:100%; height: 50vh; object-fit: cover; object-position: 100% 10%;">
		<h1 class="text-center">
			Visiter le Garage V.Parrot
		</h1>
		<div class="d-flex justify-content-center">
			<a href="/#timetable" class="btn btn-danger">
				Voir les horraires
			</a>
		</div>

	</section>

	<section>
		{# Second part Services Section #}
		<div class="container ">
			<h2 id="service" class="mb-3">
				Tous les services du garage
			</h2>
			{% for service in services|slice(2,3) %}
				<div class=" mt-2 mb-2">
					<div class="card-body">
						<h3 class="card-title">{{service.title}}</h3>
						<p class="card-text">{{service.content}}</p>
						{% if app.user %}
							{% if app.user.username == 'Parrot' %}
								<div class="card-body">
									<a href="{{ path('delete-service', {'id':service.id}) }}" class="btn btn-danger">Supprimer</a>
									<a href="{{ path('edit-service', {'id':service.id}) }}" class="btn btn-warning">Modifier</a>
								</div>
							</div>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}

			<p class="d-flex justify-content-center">
				<a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseExample">
					Voir plus
				</a>
			</p>

			<div class="collapse" id="collapseForm">
				{% for service in services|slice(5,) %}
					<div class=" mt-2 mb-2">
						<div class="card-body">
							<h3 class="card-title">{{service.title}}</h3>
							<p class="card-text">{{service.content}}</p>
							{% if app.user %}
								{% if app.user.username == 'Parrot' %}
									<div class="card-body">
										<a href="{{ path('delete-service', {'id':service.id}) }}" class="btn btn-danger">Supprimer</a>
										<a href="{{ path('edit-service', {'id':service.id}) }}" class="btn btn-warning">Modifier</a>
									</div>
								</div>
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}
			</div>
			{% if app.user %}
				{% if app.user.username == 'Parrot' %}
					<div class=" d-flex justify-content-center m-5">
						<a href="/service/new" class="btn btn-danger">Ajouter un service</a>
					</div>
				{% endif %}
			{% endif %}
		</div>

	</section>

	{# Comment Section #}

	<section class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h2 class="mb-3">Avis Client
					</h2>
				</div>
				<div class="col-12">
					<div class="row">


						{% for comment in comment.getComment %}
							{% if comment.approved == 1 %}
								<div class="col-md-4 mb-3">
									<div class="card">
										<div class="card-body">
											<div class="d-flex justify-content-between">
												<h5 class="card-title">{{comment.title}}</h5>
												<i class="card-subtitle mb-2 text-danger">{{comment.grade}}/5</i>
											</div>
											<p class="card-text mt-2">
												{{comment.content}}
											</p>
											<p class="text-muted small">
												<em>
													Ecrit par
													{{comment.author}}
												</em>
											</p>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}

					</div>
				</div>
				{% if app.user %}
					<div class=" d-flex justify-content-center mt-3">
						<a href="/comment" class="btn btn-danger">Gérer les avis</a>
					</div>
				{% else %}
					<a href="/comment/new" class="d-flex justify-content-center">
						Votre avis nous intéresse !
					</a>
				</div>

			{% endif %}
		</div>
	</section>
{% endblock %}
