{% extends 'base.html.twig' %}

{% block title %} Gérer les avis
{% endblock %}

{% block body %}
	<section class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h1 class="mb-3"> Gérer les Avis Client
					</h1>
				</div>
				<div class="col-12">
					<div class="row">
						{% for comment in comments %}
							<div class="col-md-4 mb-3">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between">
											<h5 class="card-title">{{comment.title}}</h5>
											<i class="card-subtitle mb-2 text-danger">{{comment.grade}}/5</i>
										</div>
										<p class="card-text mt-2">
											{{comment.content}}</p>
										<p class="text-muted small">
											Ecrit par
											{{comment.author}}
										</p>
										<a href="{{ path('delete-comment', {'id':comment.id}) }}" class="btn btn-danger">Supprimer</a>
										{% if comment.approved == 1  %}
										<a href="{{ path('approve-comment', {'id':comment.id}) }}" class="card-link text-success"> Mis en Ligne </a>
										{% else %}
										<a href="{{ path('approve-comment', {'id':comment.id}) }}" class="btn btn-warning">Approuver</a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
