{% extends 'base.html.twig' %}

{# Change page title #}
{% block title %}Véhicules d'Occasion
{% endblock %}

{% block body %}
	<section class=" d-flex justify-content-center mt-2">
		<h1>
			Nos véhicules d'occasion
		</h1>
	</section>
	{% if app.user %}
		<div class=" d-flex justify-content-center mt-2">
			<a href="/vehicules/new" class="btn btn-danger mt-3">Ajouter un véhicule</a>
		</div>
	{% else %}
		<section>

			{# Filters #}
			<form id="filter-form" class="mt-3 container">
				<div class=" d-inline-flex col-8">
					<div class="m-2">
						<label for="max-price">Prix Max. :</label>
						<input type="range" class="form-range" min="0" max="150000" step="1000" name="max_price" id="max-price" onchange="updateRangeValue(this, 'max-price-value')">
						<div class="d-flex justify-content-end">
							<span id="max-price-value"></span>
							€
							<br>
						</div>

					</div>
					<div class="m-2">
						<label for="max-kilometer">
							Kilométrage Max. :</label>

						<input type="range" class="form-range" min="0" max="200000" step="10000" name="max_kilometer" id="max-kilometer" onchange="updateRangeValue(this, 'max-kilometer-value')">
						<div class="d-flex justify-content-end">
							<span id="max-kilometer-value"></span>
							km
						</div>

					</div>
					<button type="submit" class="btn btn-danger h-25 m-2 mt-4">Filtrer</button>
				</div>
			</form>


		{% endif %}

	</section>
	<section>
		<ul id="car-list" class="d-flex justify-content-around flex-wrap mt-1">
			{% for carpost in carposts %}

				{# Car Post Card #}


				<div
					class="card m-5 car-card">
					{# Carrousel Gallery #}

					<div id="{{carpost.title|slug }}" class="carousel slide" data-bs-interval="false">
						<div class="carousel-inner">

							<div class="carousel-item active">
								<a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ carpost.id }}">

									<img class="card-img-top" src={{ asset('/assets/CarImage/')~carpost.image.name}} alt="{{carpost.title}}">
								</a>
							</div>

							{% for picture in carpost.pictures %}
								<div class="carousel-item">
									<a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ carpost.id }}-{{ loop.index }}">
										<img class="card-img-top" src="{{ asset('assets/CarImage/Gallery/' ~ picture.title) }}" alt="Picture">
									</a>
								</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#{{carpost.title|slug  }}" role="button" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>
						<a class="carousel-control-next" href="#{{carpost.title|slug  }}" role="button" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					</div>

					{#  Caroussel Modal #}
					<div class="modal fade" id="imageModal{{ carpost.id }}" tabindex="-1" aria-labelledby="imageModal{{ carpost.id }}Label" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg">
							<div class="modal-content">
								<div class="modal-body">
									<img src="{{ asset('/assets/CarImage/') ~ carpost.image.name }}" alt="{{ carpost.title }}" class="modal-img">
								</div>
							</div>
						</div>
					</div>
					{% for picture in carpost.pictures %}
						<div class="modal fade" id="imageModal{{ carpost.id }}-{{ loop.index }}" tabindex="-1" aria-labelledby="imageModal{{ carpost.id }}-{{ loop.index }}Label" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-lg">
								<div class="modal-content">
									<div class="modal-body">
										<img src="{{ asset('assets/CarImage/Gallery/' ~ picture.title) }}" alt="Picture" class="modal-img">
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

					{# Card Body #}
					<div class="card-body">
						<h5 class="card-title">{{carpost.title}}</h5>
						<p class="card-text">{{carpost.content}}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<b>
								Prix
							</b>
							<br>{{carpost.price}}
							€</li>
						<li class="list-group-item">
							<b>
								Kilométrage
							</b>
							<br>
							{{carpost.kilometer}}
							km</li>
						<li class="list-group-item">
							<b>
								Mise en circulation
							</b>
							<br>
							{{carpost.year|date('Y-m-d')| slice(0, 4) }}</li>

						{# Display Options #}
						<li class="list-group-item">
							<a data-bs-toggle="collapse" href="#options-{{ carpost.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
								Voir les Options
							</a>
						</li>

						<ul class="collapse text-center list-group" id="options-{{ carpost.id }}">
							{% for reponse in carpost.reponses %}
								<li class="list-group-item">
									{{ reponse.libelle }}
								</li>
							{% endfor %}
						</ul>

						{# Display Characteristics #}
						<li class="list-group-item">
							<a data-bs-toggle="collapse" href="#characteristics-{{ carpost.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
								Voir les Caracteristiques
							</a>
						</li>


						<div class="collapse text-center list-group" id="characteristics-{{ carpost.id }}">


							<table class="table table-bordered">
								{% for characteristic in carpost.characteristics %}
									<tr>

										<td>
											{{ characteristic.libelle }}
										</td>
										<td>
											{{ characteristic.info }}
										</td>

									</tr>
								{% endfor %}
							</table>
						</div>

						{# Manage Car post #}
						{% if app.user %}
							{% if app.user.username == 'Parrot' %}
								<div class="card-body">
									<a href="{{ path('delete-vehicule', {'id':carpost.id}) }}" class="btn btn-danger">Supprimer</a>
									<a href="{{ path('edit-vehicule', {'id':carpost.id}) }}" class="btn btn-warning">Modifier</a>
								</div>
							{% endif %}
						{% else %}
							{# Contact Info + Form #}
							<li class="list-group-item">
								<a class="btn btn-purple" data-bs-toggle="collapse" href="#contact-{{ carpost.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
									Une question ?
								</a>
							</li>

							<ul class="collapse text-center list-group" id="contact-{{ carpost.id }}">
								<li class="list-group-item">Contactez-nous directement au
									<br>
									<a href="tel:+33102030405">01 02 03 04 05
									</a>
								</li>
								<li class="list-group-item">
									Ou envoyez-nous un message
									{{ render(controller('App\\Controller\\ContactController::renderDemand')) }}
								</li>
							</ul>
						{% endif %}
					</div>
				{% endfor %}
			</ul>
		</section>


		{# Filters JS Script - TO MOVE #}
		<script>
			// Submission of the filter form to get associated data

document.addEventListener('DOMContentLoaded', function () {
const form = document.getElementById('filter-form');
const carList = document.getElementById('car-list');

form.addEventListener('submit', function (event) {
event.preventDefault(); // Empêche la soumission par défaut du formulaire

const formData = new FormData(form);
const url = '{{ path('car_list_filtered') }}';

fetch(url, {
method: 'POST',
body: formData
}).then(response => response.text()).then(data => {
carList.innerHTML = data;
}).catch(error => {
console.error('Erreur :', error);
});
});
});

// Set  price & kilometer filter to its maximum value as the default
const maxPriceInput = document.getElementById('max-price');
maxPriceInput.value = maxPriceInput.max;

const maxKilometerInput = document.getElementById('max-kilometer');
maxKilometerInput.value = maxKilometerInput.max;

// Display the default value
updateRangeValue(maxPriceInput, 'max-price-value');

updateRangeValue(maxKilometerInput, 'max-kilometer-value');


// Display input value in filter
function updateRangeValue(input, outputId) {
document.getElementById(outputId).textContent = input.value;
}

		</script>
	{% endblock %}
