{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5 mb-5">
		<h1 class="text-center mt-5">Ajouter un Véhicule d'Occasion</h1>
	</div>

	{# Form to add car #}
	<div class="container mt-5 mb-5">
		{{ form_start(car_post_form) }}
		{{ form_row(car_post_form.title) }}
		{{ form_row(car_post_form.content) }}
		{{ form_row(car_post_form.price) }}
		{{ form_row(car_post_form.kilometer) }}
		{{ form_row(car_post_form.date) }}
		{{ form_row(car_post_form.image) }}
		{{ form_row(car_post_form.picture) }}

		{# Options #}
		<p>Options et Equipements</p>

		<ul id="equipments-list" class="equipment">
			{% for equipment in car_post_form.equipments %}
				<li>{{ form_row(equipment.libelle) }}</li>
			{% endfor %}
		</ul>
		<button type="button" id="add-equipment-btn">Ajouter une option</button>


		{# Characteristics #}

		<table id="characteristics-list">
			<thead>
				<p class="mt-4">
					Caracteristiques
				</p>
			</thead>

			<tbody>
				{% for characteristic in car_post_form.characteristics %}
					<tr>
						<td>
							{{ form_row(characteristic.libelle) }}</td>
						<td>{{ form_row(characteristic.info) }}</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>

		<button type="button" id="add-characteristic-btn">Ajouter une caractéristique</button>

		<br>

		<input class="btn btn-danger m-4 addequipment" type="submit" value="Publier">
		{{ form_end(car_post_form) }}
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		// Add option button
document.addEventListener('DOMContentLoaded', function () {
var equipmentsList = document.getElementById('equipments-list');
var index = equipmentsList.children.length;

document.getElementById('add-equipment-btn').addEventListener('click', function () {
var prototype = '{{ form_widget(car_post_form.equipments.vars.prototype) }}';
var newEquipment = prototype.replace(/__name__/g, index);
var li = document.createElement('li');
li.innerHTML = newEquipment;
equipmentsList.appendChild(li);
index++;
});
});

// Add characteristic button
document.addEventListener('DOMContentLoaded', function () {
var characteristicsList = document.getElementById('characteristics-list');
var index = characteristicsList.children.length;

document.getElementById('add-characteristic-btn').addEventListener('click', function () {
var prototype = '{{ form_widget(car_post_form.characteristics.vars.prototype) }}';
var newCharacteristic = prototype.replace(/__name__/g, index);
var div = document.createElement('div');
div.innerHTML = newCharacteristic;
characteristicsList.appendChild(div);
index++;
});
});
	</script>
{% endblock %}
