{% extends 'base.html.twig' %}

{% block title %}Les Demandes de Contact
{% endblock %}

{% block body %}
	<section class="pt-5 pb-5 text-center">
		<div class="container">
			<h1 class="mb-3">
				Les Demandes de Contact
			</h1>
		</div>
		<div class="d-flex justify-content-around flex-wrap container mt-1">

			{% for contact in contacts %}

				{# Contact Demands Card #}
				<div class="card m-5" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{contact.subject}}</h5>
						<p class="card-text">{{contact.message}}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<b>
								Nom du Client
							</b>
							<br>{{contact.fullName}}
						</li>
						<li class="list-group-item">
							<b>
								Repondre par mail
							</b>
							<br><a href="mailto:{{contact.email}}">{{contact.email}}</a>
						</li>
						<li class="list-group-item">
							<b>
								Appeler
							</b>
							<br>
							<a href="tel:+33{{contact.number}}">+33{{contact.number}}
							</a>

						</li>
						<li class="list-group-item">
							<a href="{{ path('delete-message', {'id':contact.id}) }}" class="btn btn-danger">Supprimer</a>
						</li>
					</ul>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
